.red{
  color: red;
}

.list{
  padding: 40px;
}

.list li{
  line-height: 60px;
}

.title{
  height: 44px;
  line: heigth 44px;;
  text-align:center;
  background:#000;
  color: #fff;
}

.title input{
  height: 40px;
}